$color-body:#ecf2f8;
$color-box-1:#7b2cbf;
$color-box-2:#48556a;
$color-box-5:#19212e;
$color-box-white:#e9ecef;

$color-font-paragraph:#cfcfcf;

$color-box-light-white:#f8f9fa;

$color-box-dark-grey-1:#adb5bd;
$color-box-dark-grey-2:#495057;

$color-light-purple:#a28ad2;

$color-box-shadow:#000;

