*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html{
   font-size: 62.5%;

   box-sizing: border-box;

   @include response (XLarge-screen){
      font-size: 150%;
   }

   @include response (Large-screen){
      font-size: 95%;
   }

   @include response (Laptop-large){
      // font-size: 62.5%;
   }

   @include response (Laptop-small){
      font-size: 50%;
   }

   @include response (Tablet){
      font-size: 40%;
   }

   @include response (Mobile-Large){
      font-size: 30%;
   }
}

body{
   height: 100vh;
   width: 100%;
   background-color: $color-body;
   font-family: 'Barlow Semi Condensed', sans-serif;
   // display: flex;
   // justify-content: center;
   // align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;



}