.container{
        height: auto;
        max-width: 120rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
        grid-template-rows: repeat(auto-fit,minmax(30rem,1fr));
        grid-auto-rows: 1fr;
        grid-gap: 2rem;

        @include response (Large-screen){

           margin: 0 15rem;

        }

        @include response (Laptop-large){
            margin: 0 15rem;
        }

        @include response (Mobile-Large){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5,1fr);
            grid-template-areas:  "box1"
                                  "box2"
                                  "box3"
                                  "box4"
                                  "box5";

            height: 100%;
            max-width: 50rem;
            padding: 5rem;

        }

        @include response (Mobile-Small){
            min-width: 100%;


        }



        & > * {
            padding: 1rem 3rem;
            border-radius: 1rem;
            box-shadow: 0 1rem 1.5rem rgba($color-box-shadow,.15);





        }

        &--top{
            display: flex;
            align-items: center;
            padding: 1.5rem 0;

        }

        &--middle{
            font-weight: 600;
            line-height: 2.3rem;
            font-size: 2rem;
            padding: 1.5rem 0;
        }


        &--imgbox{


            &__img{
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 100px;
            }
        }

        &--textbox{
            margin-left: 1rem;

        }

        &--header{
            font-weight: 300;
        }

        &--status{
            color: rgba($color-box-white,.5);
        }

        &--box-1{
            background-color: $color-box-1;
            grid-column: 1 / span 2;
            color: $color-box-white;
            position: relative;
            @include response (Mobile-Large){
                grid-area: box1;

            }

            &::before{
                content:"\201C";
                font-size: 50rem;
                color: rgba($color-body,.4);
                line-height: 1;
                position: absolute;
                top: -5.75rem;
                right: 8.75rem;
                font-family: sans-serif;

                @include response (Mobile-Large){
                    font-size: 50rem;
                    top: -4rem;
                    right: .5rem;
                }

                @include response (Mobile-small){
                    font-size: 5rem;
                    top: 2rem;
                    right: .5rem;
                }


            }

        }

        &--box-2{
            background-color: $color-box-2;
            color: $color-box-white;
            @include response (Mobile-Large){
                grid-area: box2;

            }
        }

        &--box-3{
            background-color:$color-box-light-white;
            grid-row: 1 / span 2;
            grid-column: 4 / -1;

            @include response (Mobile-Large){
                grid-area: box3;

            }




        }

        &--box-4{
            background-color: $color-box-light-white;
            @include response (Mobile-Large){
                grid-area: box5;

            }
        }

        &--box-5{
            background-color: $color-box-5;
            color: $color-box-white;
            grid-column: 2 / span 2;
            @include response (Mobile-Large){
                grid-area: box4;

            }




        }



}

